body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button#config {
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px;
}

div#etch-a-sketch {
  width: 400px;
  height: 400px;
  border: 37px solid red;
  border-radius: 37px;
  background-color: #53c22a;
  display: flex;
  flex-direction: column;
  flex: 0 0 500px;
  align-content: stretch;
  flex-wrap: wrap;
}

#etch-a-sketch div{
  margin: 0px;
  padding: 0px;
}

div.row {
  flex: 1 1 1px;
  display: flex;
  justify-content: center;
  align-content: stretch;
}

div.pixel {
  flex: 1 1 1px;
  background-color: blue;
}
